<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="fade-in2 pr-3 pl-3 index-color">

<!-- HEADER -->
    <div class="fc-navy raleway mr-5 ml-5 mt-1 d-flex-between fs-header-medium fc-offwhite">
        <div class="flex2">
          <h1 class="raleway fs-header-medium"><em>Groupel</em></h1>
        </div>
        <div>
          <form action="/trips">
            <button class="grow-small submit-btn1" type="submit">View All Trips</button>
          </form>
        </div>
        <div class="ml-2">
          <form role="logout" action="/users/logout">
            <button class="grow-small submit-btn1" type="submit">Log Out</button>
          </form>
      </div>
    </div>
<!-- HEADER -->

            <!-- flash message -->
            <div class="neg-mt-3 raleway d-flex-center d-flex-column">
              {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                                  {% if messages %}                            <!-- check if there are any messages -->
                                      {% for message in messages %}            <!-- loop through the messages -->
                              <p>{{message}}<span class="grow-small ml-2 close-btn" onclick="this.parentElement.style.display='none';">&times;</span> </p>                   <!-- display each message in a paramraph tag -->
                                      {% endfor %}
                      {% endif %}
                  {% endwith %}
            </div>
              <!-- flash message -->


<!-- BODY -->
    <div class="d-flex-center">


    <!-- LEFT COLUMN -->
      <div class="d-flex-column flex1 mr-3">

        <!-- INTRO -->
        <div class="border1 p-1">
          <h2 class="raleway fs-header-large"><em>Hey, {{user.first_name}}!</em></h2>

          <p class="fc-navy text-center">Grab your friends. Get there together.</p>
        </div>
        <!-- INTRO -->

        <!-- CREATE/JOIN -->
          <div class="border1 d-flex-center d-flex-column mt-3">
            <form class="mt-4 mb-2" action="/trips/new">
              <button class="grow-small submit-btn2" type="submit">Plan a Trip!</button>
            </form>
            <form class="mb-4" action="/trips">
              <button class="grow-small submit-btn2" type="submit">Join a Trip!</button>
            </form>
          </div>
      <!-- CREATE/JOIN -->

      </div>
    <!-- LEFT COLUMN -->


<!-- RIGHT COLUMN -->
<div class="border1 p-2 flex1 d-flex-center d-flex-column">
  <div class="fc-navy text-center">
      <h2 class="raleway">My Upcoming Trips:</h2>
  </div>
  <table class="table-border1">
      <thead>
          <tr>
              <th>Location</th>
              <th>Start</th>
              <th>End</th>
          </tr>
      </thead>
      <tbody>
          {% for trip in upcoming_trips %}
          <tr>
              <td class="hidden-btn"><a href="/trips/{{ trip.id }}">{{ trip.location }}</a></td>
              <td>{{ trip.check_in.strftime("%m/%d/%Y") }}</td>
              <td>{{ trip.check_out.strftime("%m/%d/%Y") }}</td>
          </tr>
          {% endfor %}
          {% for trip in joined_upcoming_trips %}
          <tr>
              <td class="hidden-btn"><a href="/trips/{{ trip.id }}">{{ trip.location }}</a></td>
              <td>{{ trip.check_in }}</td>
              <td>{{ trip.check_out }}</td>
          </tr>
          {% endfor %}
          {% if not upcoming_trips and not joined_upcoming_trips %}
          <tr>
              <td colspan="4" class="text-center">You don't have any upcoming trips.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>

  <div class="fc-navy text-center">
      <h2 class="raleway">My Previous Trips:</h2>
  </div>
  <table class="table-border1">
      <thead>
          <tr>
              <th>Location</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for trip in previous_trips %}
          <tr>
            <td class="hidden-btn"><a href="/trips/{{ trip.id }}">{{ trip.location }}</a></td>
            <td class="d-flex-between">
                  <a class="mr-2" href="/trips/{{ trip.id }}/edit">Edit</a>
                  <form id="deleteForm" class="delete-trip-form" action="/trips/{{ trip.id }}/delete" method="POST">
                      <!-- Add any necessary hidden fields or additional form elements here -->
                      <button id="deleteButton" class="hidden-btn" type="submit">Delete</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
          {% for trip in joined_previous_trips %}
          <tr>
            <td class="hidden-btn"><a href="/trips/{{ trip.id }}">{{ trip.location }}</a></td>
            <td class="d-flex-between">
                  <a class="mr-2" href="/trips/{{ trip.id }}/edit">Edit</a>
                  <form id="deleteForm" class="delete-trip-form" action="/trips/{{ trip.id }}/delete" method="POST">
                      <!-- Add any necessary hidden fields or additional form elements here -->
                      <button id="deleteButton" class="hidden-btn" type="submit">Delete</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
          {% if not previous_trips and not joined_previous_trips %}
          <tr>
              <td colspan="4" class="text-center">You don't have any previous trips.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
</div>
<!-- RIGHT COLUMN -->




    </div>
<!-- BODY -->

  </body>
</html>